.archive-tags-outer {
    overflow: hidden;
    width: 100%;
}

archive-tags {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hero-text-wrapper {
    flex-direction: column;
}

.archive-tag-button {
    font-size: 18px;
    padding: 6px 13px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio-button-text {
    position: relative;
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
}

.archive-tag-button input[type='radio'] {
    -webkit-appearance:none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 0;
}

.archive-tag-button input[type='radio']:checked {
    background-color: var(--text-color);
}

.archive-tag-button input[type='radio']:checked ~ .radio-button-text {
    color: var(--background-color);
}

/* Styles for large desktop */
@media (min-width: 1439px) {  
    archive-tags {
        gap: calc(1.05vw * var(--scale));
    }
    
    .archive-tag-button {
        font-size: calc(1.25vw * var(--scale));
        padding: calc(.42vw * var(--scale)) calc(0.9vw * var(--scale));
    }
}

/* Styles for tablet */
@media (max-width: 991px) { 
    archive-tags {
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero .wide-container {
        padding: 0px;
    }

    .hero .hero-heading-wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }

    .hero .hero-top-border,
    .hero .hero-bottom-border {
        left: 30px;
        right: 30px;
        max-width: calc(100% - 60px);
    }
}

/* Styles for mobile */
@media (max-width: 479px) { 
    archive-tags {
        gap: 10px;
        padding-left: 18px;
        padding-right: 18px;
    }
    
    .archive-tag-button {
        font-size: 16px;
        padding: 6px 13px;
    }

    .hero .hero-heading-wrapper {
        padding-right: 18px;
        padding-left: 18px;
    }

    .hero .hero-top-border,
    .hero .hero-bottom-border {
        left: 18px;
        right: 18px;
        max-width: calc(100% - 36px);
    }
}