.blockquote-alt {
    border-left: none;
    padding-left: 0;
    text-align: center;
    font-size: calc(2.4vw * var(--scale));
    font-style: italic;
}

.post-content > *, .fading-content > * {
    margin-bottom: calc(1.7vw * var(--scale));
}

.post-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-content > * {
    letter-spacing: 0em;
}

.post-content figure {
    overflow: initial;
}

.visible-content {
    opacity: 1 !important;
}

.hidden-post-content {
    opacity: 0;
    transition: opacity;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.4s;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--text-color-40);
    border: 0;
    margin: 0;
    padding: 0;
}

blockquote {
    padding-left: calc(2vw * var(--scale));
    padding-top: calc(0.6vw * var(--scale));
    padding-bottom: calc(0.6vw * var(--scale));
    line-height: 130% !important;
    font-size: calc(2.2vw * var(--scale));
    border-left: 2px solid var(--text-color);
    font-weight: 500;
    color: var(--text-color) !important;
}

blockquote p {
    font-family: inherit;
    line-height: inherit !important;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text-color) !important;
}

.post-content a {
    text-decoration: underline;
}

.post-content ul, .post-content ol {
    padding-left: 36px;
}

.post-content ul li ul, .post-content ol li ol  {
    padding-top: calc(0.8vw * var(--scale));
}

.post-content ul li ul li, .post-content ol li ol li {
    font-size: 16px;
    margin-bottom: calc(0.8vw * var(--scale));
    line-height: 160%;
    letter-spacing: 0em;
    color: var(--text-color-80);
}

.post-content ul li, .post-content ol li{
    margin-bottom: calc(1.2vw * var(--scale));
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0em;
    color: var(--text-color-80);
}

table {
    border-spacing: 0px;
}

thead {
    background-color: var(--text-color);
    color: var(--background-color);
}

th {
    text-align: left;
    padding: calc(1vw * var(--scale)) calc(1vw * var(--scale));
    font-size: 20px;
}

td {
    border-bottom: 1px solid var(--text-color);
    font-size: 18px;
    padding: calc(1vw * var(--scale)) calc(1vw * var(--scale));
}

.gallery-card {
    width: 100%;
}

.gallery-card,
.gallery-card * {
    box-sizing: border-box;
}

.gallery-card,
.image-card {
    --gap: calc(1.4vw * var(--scale));
}

.image-card + .image-card,
.image-card + .gallery-card,
.gallery-card + .image-card,
.gallery-card + .gallery-card {
    margin-top: var(--gap);
}

.gallery-container {
    position: relative;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.gallery-row:not(:first-of-type) {
    margin: var(--gap) 0 0;
}

.gallery-image:not(:first-of-type) {
    margin: 0 0 0 var(--gap);
}

.callout-card,
.callout-card * {
    box-sizing: border-box;
}

.callout-card {
    display: flex;
    padding: calc(1.2vw * var(--scale)) calc(1.6vw * var(--scale));
    border-radius: 3px;
}

.callout-card div.callout-emoji {
    padding-right: calc(1vw * var(--scale));
    line-height: 150%;
    font-size: 18px;
}

.callout-card div.callout-text {
    font-size: 18px;
    font-family: var(--font1);
    line-height: 160%;
}

.callout-card + .callout-card {
    margin-top: calc(1vw * var(--scale))
}

.embed-card {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-card iframe,
.embed-card object,
.embed-card embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-content .toggle-content {
    max-width: 100%;
}

/* Styles for large desktop */
@media (min-width: 1439px) { 
    .post-content ul, .post-content ol {
        padding-left: calc(2.5vw * var(--scale));
    }
    
    .post-content ul li ul li, .post-content ol li ol li {
        font-size: calc(1.11vw * var(--scale));
    }
    
    .post-content ul li, .post-content ol li{
        font-size: calc(1.25vw * var(--scale));
    }

    th {
        font-size: calc(1.35vw * var(--scale));
    }
    
    td {
        font-size: calc(1.25vw * var(--scale));
    }

    .callout-card div.callout-emoji,
    .callout-card div.callout-text {
        font-size: calc(1.25vw * var(--scale));
    }
}

/* Styles for tablet */
@media (max-width: 991px) {
    .blockquote-alt {
        font-size: 32px;
    }

    .post-content > *, .fading-content > * {
        margin-bottom: 17px;
    }

    blockquote {
        padding-left: 28px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 32px;
    }

    .post-content ul li ul, .post-content ol li ol  {
        padding-top: 8px;
    }
    
    .post-content ul li ul li, .post-content ol li ol li {
        margin-bottom: 8px;
    }
    
    .post-content ul li, .post-content ol li{
        margin-bottom: 12px;
    }

    th {
        padding: 14px;
        font-size: 19px;
    }
    
    td {
        font-size: 18px;
        padding: 14px;
    }

    .post-content .toggle-content {
        max-width: 620px;
    }

    .gallery-card,
    .image-card {
        --gap: 14px;
    }

    .callout-card {
        padding: 12px 16px;
    }

    .callout-card div.callout-emoji {
        padding-right: 10px;
        font-size: 18px;
    }
    
    .callout-card div.callout-text {
        font-size: 18px;
    }
    
    .callout-card + .callout-card {
        margin-top: 10px;
    }
}

/* Styles for mobile */
@media (max-width: 479px) {
    .blockquote-alt {
        font-size: 26px;
    }

    .post-content > *, .fading-content > * {
        margin-bottom: 16px;
    }

    blockquote {
        padding-left: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 26px;
    }

    .post-content ul li ul, .post-content ol li ol  {
        padding-top: 6px;
    }
    
    .post-content ul li ul li, .post-content ol li ol li {
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    .post-content ul li, .post-content ol li{
        margin-bottom: 10px;
        font-size: 16px;
    }

    th {
        padding: 12px;
        font-size: 17px;
    }
    
    td {
        font-size: 16px;
        padding: 12px;
    }

    .gallery-card,
    .image-card {
        --gap: 12px;
    }

    .callout-card div.callout-emoji {
        font-size: 16px;
    }
    
    .callout-card div.callout-text {
        font-size: 16px;
    }
}