---
import NavbarLink from "@components/NavbarLink.astro";
import DropdownArrow from "@assets/icons/DropdownArrow.astro";

import type { NavbarDropdown } from "@src-types/types";

const navbarLink = Astro.props.navbarLink;
---

<li class="links-dropdown">  
    <div class="links-label">
        <span>{navbarLink.text}</span>
        <DropdownArrow />
    </div>
    <div class="secondary-links">
        <ul class="secondary-links-inner">
            {navbarLink.dropdown.map((navbarLinkInner: NavbarDropdown) => <NavbarLink navbarLink={navbarLinkInner} />)}
        </ul>
    </div>
</li>