---
const { navbarLink, class: className } = Astro.props;
---

<li>  
    <a class={`nav-link ${className}`}  href={navbarLink.link} target={navbarLink.new_tab ? "_blank" : ""} rel={navbarLink.new_tab ? "noopener noreferrer" : ""}>{navbarLink.text}</a>
</li>