---
import { Image } from "astro:assets";
import { getImage, slugify } from "@utils/utils.ts";
import AvatarIcon from "@assets/icons/AvatarIcon.astro";

import "@styles/post-authors.css"

// Get author image from images/author. Name them the same as author slug.
const images = import.meta.glob<{ default: string }>('@assets/images/author/*.{jpg,jpeg,png,webp,gif,svg}', { eager: true });

const name = Astro.props.name;
const url = slugify(name)

const profile_image = getImage({glob: images, folder_name: "author", image_name: url });
---
    
<a href={`/authors/${url}/`} class="post-author-image link-hover-animation-half" aria-label={name}>
    {profile_image ? (                 
        <figure>
            <Image 
                class="image"
                src={profile_image as any} 
                alt={name}
                loading="lazy" 
                width={100}
                height={100}
            />
        </figure>                       
    ) : (
        <div class="author-avatar-wrapper">
            <AvatarIcon />
        </div>               
    )}
</a>